/portfolio/**
!/portfolio/**/*.tex
!/portfolio/**/*.pdf

!/portfolio/**/

meetingNotes/*
!/meetingNotes/*.tex
!/meetingNotes/*.pdf

progressReport/*
!/progressReport/bib/
!/progressReport/*.tex
!/progressReport/*.pdf
!/progressReport/*.cls
!/progressReport/bib/ECS.bib
!/progressReport/bib/ecs.bst




.venv
__pycache__/
.DS_Store